@{
    ViewBag.Title = "Contact ";
}

<h3 style="margin-top:100px;">@ViewBag.Title</h3>
<address style="margin-top:20px;">
    Laidig Systems, Inc.
    14535 Dragoon Trail
    Mishawaka, IN 46544
    USA
</address>

<address>
    <strong>Sales:</strong>   <a href="mailto:Support@example.com">sales@laidig.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>