@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top:100px;">

    <img src="~/Images/Laidig-FrontPage.jpg" alt="Sample Image" width="99%" />
</div>

<div class="row">
    <div class="pane-content">
        <div class="block-team">
            <div class="inner">
                <div class="youtubeframedMTS" height="100px" style="float: left; margin-top:30px; margin-left:14px" width="350px">
                    <strong><iframe allowfullscreen="" frameborder="0" height="250" src="http://www.youtube.com/embed/36wXBiehKYI?modestbranding=1&amp;rel=0&amp;wmode=opaque&amp;showinfo=0&amp;theme=light&amp;color=white&amp;autohide=1&html5=1" " title="Cole Hardwood Case Study" width="460"></iframe></strong>
                </div>
                <div style="float: left; max-width: 300px; padding-left: 70px;">
                    <h2>Cole Hardwood Case Study</h2>
                    <p>Time is money. When a company loses time to equipment break-downs or failures, they also lose money. To prevent these losses, companies need to invest in equipment that is guaranteed to work, and reduce or eliminate any downtime on equipment that is critical to their operation. </p>
                    <p class="rtecenter">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>