
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chart</h2>
<br />
<center>
    <canvas id="myChart"  style="width:90%; height:400px;"  class="well"></canvas>
</center>
