
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HomePage</h2>

@*@Html.ActionLink("Remote Instant Upload ", "LoggedIn", "Account", new { id = "" }, null)

<br />*@

@*@Html.ActionLink("Remote Server Upload ", "DelayedUploadSingle", "DelayedUpload", new { id = "" }, null)*@




<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header navbar-default">
            
        </div>
        
    </div>
</div>





