
@{
    ViewBag.Title = "";
}
<style>
    #myModal{
        display:none;
    }
</style>
    <div >    
        <div class="row">
            <div class="col-md-4">
                <div class="demo-content">
                    @using (Html.BeginForm("Import", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="panel panel-warning">
                            <div class="panel-heading"> </div>
                            <div class="panel-body">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-default btn-file">
                                        
                                        <input type="file" class="custom-file" name="files" />
                                    </span>
                                    <span class="fileinput-filename"></span><span class="fileinput-new"> </span>
                                </div>
                                <br />
                                <input type="submit" class="btnClick btn btn-warning" value="Upload Sample" />

                            </div>
                        </div>
                        
                    }
                </div>

            </div>




            <div class="col-md-4">
                <div class="demo-content">
    @using (Html.BeginForm("ImportA", "ProductA", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel panel-warning">
            <div class="panel-heading"> </div>
            <div class="panel-body">

                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file">
                      
                        <input type="file" class="custom-file" name="files"  />
                    </span>
                    <span class="fileinput-filename"></span><span class="fileinput-new"> </span>
                </div>
                <br />
                <input type="submit" class="btnClick btn btn-warning" value="Upload DataLogAB" />
                </div>
            </div>

                }
            </div>
        </div>


            <div class="col-md-4">
                <div class="demo-content">
    @using (Html.BeginForm("ImportB", "ProductB", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel panel-warning">
            <div class="panel-heading"> </div>
            <div class="panel-body">

                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file">
                       
                        <input type="file" class="custom-file" name="files" />
                    </span>
                    <span class="fileinput-filename"></span><span class="fileinput-new"> </span>
                </div>
                <br />
                <input type="submit" class="btnClick btn btn-warning" value="Upload DataLogMonitouch" />
                </div>
            </div>
                }
                </div>
            </div>
       </div>
    </div>     
       
   



     
    <!-- Modal -->
    <div class="modal fade  modal-dialog-main" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">               
                <div class="modal-body">                   
                     <img src="~/Images/loader.gif" />
                 </div>                
            </div>
        </div>
    </div>
    <!--/modal-->
    <script type="text/javascript">
        $(function() {
                $('.btnClick').click(function() {
                    $('#myModal').modal('show');
                    //setTimeout(2000);
            })
        });      
     </script>  













